*{
    padding: 0;
    margin: 0;
}
nav img{
width: 80px;
height: 50px;
}
.navbar{
    background-image: url(img/navbar.png);
    height: 500px;
    background-size: cover;
    background-position:top;
}
.navbar h1, p{
    text-align: center;
}